:root {
  --color-white: white;/*rgb(250,250,250);*/
  --color-main: rgb(0,184,222);
  --color-dark: rgb(12,35,64);
  --color-contrast: rgb(242,169,0);
  --color-grey: rgb(220,220,220);
  --color-black: rgb(0,0,0);
}

body {
  margin: 20pt  80pt  10pt  200pt;
  padding: 6pt 12pt 60pt 6pt;
  font-size: 12pt;
  border-left: solid 8pt var(--color-grey);
}

header{
  min-height: 60pt;
  padding: 10pt 0pt;
}

nav{
  position: fixed;
  width: 180pt;
  top: 120pt;
  left: 10pt;
  text-align: right;
}

nav h2 {
  color: var(--color-grey);
  font-size: 12pt;
  margin: 0pt;
}

nav ul{
  list-style-type: none;
}

nav li{
  text-align: right;
  font-size: 10pt;
  min-height: 13pt;
}

h1 {
  font-size: 18pt;
  margin: 2cm 0cm;
}

header h1 {
  width: 70%;
  font-size: 18pt;
  margin: 0pt;
  padding-left: 8pt;
}

section h2 {
  color: var(--color-main);
  margin: 32pt 0pt 8pt 0pt;
  font-size: 14pt;
}

h3 {
  margin: 20pt 0pt 12pt 0pt;
  font-size: 12pt;
}

p, li{
  text-indent: 0cm;
  text-align: justify;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-main);
}

a:hover {
  font-weight: normal;
}

hr {
  border-width: 0px 0px 1px 0px ;
  border-style: dotted;
  border-color: rgb(184,184,184);
  padding-top: 14pt;
}

table{
  margin: 10pt 20pt 5pt 20pt ;
  border-collapse:collapse;
}

table tr{
  border-width: 1px 0px 1px 0px ;
  border-style:solid;
  border-color:rgb(184,184,184);
  min-width: 20pt;
}

table tr:first-child{
  border-width: 0pt 0pt 1pt 0pt ;
}

table tr td{
  border-width: 0pt 1pt 0pt 1pt ;
  border-style:solid;
  border-color:rgb(184,184,184);
  padding: 5pt;
  min-width: 20pt;
}

div.sourceCode{
	margin-left: 22pt;
	padding: 0pt;
	padding-left: 6pt;
	border-left: solid 8pt;
	border-color: var(--color-grey);
}

pre{
	margin: 0pt;
	padding: 0pt;
}

code{
	margin: 0pt;
	padding: 0pt;
  font-size: 11pt;
}
